<%= form_for @recipe do |f| %>
<p><%= f.label :title %>
  <%= f.text_field :title %><br>
</p>
<%= f.fields_for :ingredients do |ingredient|%>
<fieldset>
    <legend>Ingredient 1</legend>
    <p>
    <%= ingredient.label :name %>
    <%= ingredient.text_field :name %><br>
	<br>
    <%= ingredient.label :quantity %>
    <%= ingredient.text_field :quantity %><br>
    </fieldset>
    <% end %>
	 
  <%= f.submit %>
  <% end %>
